.container {
    background-image: linear-gradient(to right, #6a89f1, #96adfc);
    padding: 20px 0 40px;
    color:white;
    box-sizing: border-box;
}

.headings-div {
    margin-top:50px;
    margin-bottom:50px;
}

.column1 {
    flex:1;
}

.column2 {
    flex:1.2;
}

h2 {
    font-weight: normal;
}

img {
    width:300px;
    margin:0 auto;
}

.button{
    color:#6887f0;
    cursor: pointer;
    border:none;
    background: white;
    border-radius: 1.5em;
    height:60px;
    padding: 10px 35px 10px 35px;
    font-size: 1.2em;
}

.button:hover{
    color:white;
    background-color:#6a89f1; /**  i just added this because of my habit :D **/
}


@media(min-width:300px) and (max-width: 800px) {
    .column1 {
        margin-bottom:30px;
    }

    .container, .headings-div {
        text-align: center;
    }
}


@media (min-width: 900px) {
    body {
        text-align: left;
    }
    .container {
        display:flex;
        justify-content: space-between;
    }

    img {
        position:absolute;
        top:80px;
    }

    .column1 p {
        width:460px;
    }

    .headings-div {
        margin-left:350px;
    }

    .container {
        padding-left:350px;
    }
}





